{% extends 'base.html' %}
{% load static %}
{% block body %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<!-- semantic UI -->
<link rel="stylesheet" type='text/css'
    href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.14/semantic.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>

<div id="alert-box">

</div>

<form action="" id="car-form" method="get">
    {% csrf_token %}

    <div class="ui selection dropdown" id="cars-container">
        <input type="hidden" name="car">
        <i class="dropdown icon"></i>
        <div class="default text" id="car-text">Choose a Car</div>
        <div class="menu" id="cars-data-box">

        </div>
    </div>


    <div class="ui selection dropdown" id="models-container">
        <input type="hidden" name="model">
        <i class="dropdown icon"></i>
        <div class="default text" id="modal-text">Choose a Model</div>
        <div class="menu" id="models-data-box">

        </div>
    </div>

    <div class="mt-5" id="btn-box">
        <input type="submit" class="ui primary-button" value="Submit">
    </div>

</form>

{% endblock %}

{% block script %}
<script src="{% static 'js/carmodel.js' %}"></script>
{% endblock %}

<!--
        <select class="form-select" id="car" required="">
        <option value="">Choose.Car..</option>
        {% for i in qs %}
        <option>{{i}}</option>
        {% endfor %}

    </select>
-->