<!doctype html>
{% load static %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.1/font/bootstrap-icons.css">
    <title>Product Management System</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <!--defer is important for image preview-->
    <script src="{% static 'js/photo.js' %}" defer></script>
    <script src="{% static 'main.js' %}" defer></script>
</head>

<body>

    <div class="container-fluid">
        <div class="row">

            <!-- Generic SideBar-->
            <div class="col-2  sidebar">
                <div class="d-flex flex-column flex-shrink-0 p-3">
                    <a href="/"
                        class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
                        <h1><strong>Foodie</strong></h1>
                    </a>
                    <hr>

                    <ul class="nav nav-pills flex-column mb-auto">

                        <li>

                        </li>

                        <li>
                            <a href="{% url 'photo-view' %}" class="nav-link link-dark">
                                <i class="bi bi-grid"></i>
                                Photo Upload
                            </a>
                        </li>

                    </ul>

                    <hr>
                    <div class="dropdown">
                        <a href="#" class="d-flex align-items-center link-dark text-decoration-none dropdown-toggle"
                            id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="https://github.com/mdo.png" alt="" width="32" height="32"
                                class="rounded-circle me-2">
                            <strong>{{request.user.username}}</strong>
                        </a>
                        <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
                            <li><a class="dropdown-item" href="#">New project...</a></li>
                            <li><a class="dropdown-item" href="#">Settings</a></li>
                            <li><a class="dropdown-item" href="#">Profile</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Sign out</a></li>
                        </ul>
                    </div>

                </div>
            </div>

            <!--Container list-->
            <div class="col detailbar">

                {% block body %}

                {% endblock %}
            </div>

        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    {% include 'searchenginedata.html' %}
    {% include 'cruddata.html' %}
    {% include 'ordercruddata.html' %}
    {% block script %}

    {% endblock %}
</body>

</html>