<script>
    $(document).ready(function () {

        //CreateData
        $('#createoBtn').click(function () {
            output = " ";
            console.log('hello')
            let order = $('#id_order').val()
            let ordered_by = $('#id_ordered_by').val()
            let status = $('#id_status').val()
            let csrfmiddlewaretoken = $(".order-container input[name='csrfmiddlewaretoken']").val()
            console.log(csrfmiddlewaretoken)
            if (order == " " || ordered_by == " " || status == "") {
                console.log("Fields cann't be empty")
            } else {
                fdata = {
                    'order': order,
                    'ordered_by': ordered_by,
                    'status': status,
                    'csrfmiddlewaretoken': csrfmiddlewaretoken
                },
                    console.log('Data:', fdata);
                console.log("Sending Data...")
                $.ajax({
                    url: "{% url 'ordercreate' %}",
                    method: "POST",
                    data: fdata,
                    dataType: 'json',
                    success: function (response) {
                        htmlp = "<div style='background-color: rgba(107, 255, 1, 0.92);text-align: center; padding:1rem; color: white;' role='alert'><strong>Order Created Sucessfully!</strong></div>"
                        $('.order-messages').html(htmlp);
                        $('.order-messages').show()
                        x = response.order_queryset
                        console.log(x);
                        for (i = 0; i < x.length; i++) {
                            output += "<tr>" +
                                "<td>" + x[i].order_id + "</td>" +
                                "<td>" + x[i].ordered_by_id + "</td>" +
                                "<td>" + x[i].ordered_on + "</td>" +
                                "<td>" + x[i].status + "</td>" +
                                "<td><input type='button' class='btn btn-info btn-sm' value='Update' data-orderkey =" + x[i].id + ">" +
                                "<td><input type='button' class='btn btn-danger btn-sm' value='Delete' data-orderkey =" + x[i].id + ">" +
                                "</tr>"
                        }

                        $('.order-list tbody').html(output)
                        $('.order-container')[0].reset();

                    },
                    error: function (error) {
                        console.log(error)
                    }
                })

            }
        })





    })
</script>