<script>
    $(document).ready(function(){

         //CreateData
        $('#createoBtn').click(function(){
            output = " ";

            let order = $('#id_order').val()
            let ordered_by = $('#id_ordered_by').val()
            let status = $('#id_status').val()
            let csrfmiddlewaretoken = $(".order-container input[name='csrfmiddlewaretoken']").val()
            console.log(csrfmiddlewaretoken)
            if( order ==" " || ordered_by  ==" " || status ==""){
                     console.log("Fields cann't be empty")
            }else{
                fdata = {
                    'order': order,
                    'ordered_by': ordered_by,
                    'status':status,
                    'csrfmiddlewaretoken':csrfmiddlewaretoken
                },
                console.log('Data:',fdata);
                console.log("Sending Data...")
                $.ajax({
                    url: "{% url 'ordercreate' %}",
                    method: "POST",
                    data: fdata,
                    dataType: 'json',
                    success:function(response){
                            $('.messages').text("Form Submitted Sucessfully");
                            $('.messages').show()
                            x = response.order_queryset
                            console.log(x);
                            for(i=0; i < x.length; i++){
                               output +="<tr>"+
                                "<td>"+x[i].order+"</td>"+
                                "<td>"+x[i].ordered_by+"</td>"+
                                "<td>"+x[i].ordered_on+"</td>"+
                                "<td>"+x[i].status+"</td>"+
                                "<td><input type='button' class='btn btn-info btn-sm' value='Update' data-orderkey =" + x[i].id + ">" +
                                "<td><input type='button' class='btn btn-danger btn-sm' value='Delete' data-orderkey =" + x[i].id + ">" +
                                "</tr>"
                            }

                            $('tbody').html(output)
                            $('.order-container')[0].reset();

                    },
                    error: function(error){
                            console.log(error)
                    }
                })

            }
        })


        //DeleteData
        $('tbody').on('click','#deleteoBtn',function(){
            output = " ";
            let key =$(this).attr('data-orderkey')
            let csrfmiddlewaretoken = $("input[name='csrfmiddlewaretoken']").val()
                fdata = {
                    'id':key,
                    'csrfmiddlewaretoken':csrfmiddlewaretoken
                },
                console.log('Data:',fdata);
                console.log("Sending Data...")
                $.ajax({
                    url: "{% url 'orderdelete' %}",
                    method: "POST",
                    data: fdata,
                    dataType: 'json',
                    success:function(response){
                            $('.messages').text("Food Deleted Sucessfully");
                            $('.messages').show()
                            x = response.order_queryset
                            console.log(x);
                            for(i=0; i < x.length; i++){
                               output +="<tr>"+
                                "<td>"+x[i].order.name+"</td>"+
                                "<td>"+x[i].ordererd_by.user+"</td>"+
                                "<td>"+x[i].ordered_on+"</td>"+
                                "<td><input type='button' class='btn btn-info btn-sm'  id = 'updateoBtn' value='Update' data-users=" + x[i].id + ">" +
                                "<td><input type='button' class='btn btn-danger btn-sm' id='deleteoBtn' value='Delete' data-users=" + x[i].id + ">" +
                                "</tr>"
                            }
                            $('tbody').html(output)
                            $('form')[0].reset();

                    },
                    error: function(error){
                            console.log(error)
                    }
                })
        })
        

        //UpdateData
        $('tbody').on('click','#updateoBtn',function(){
            output = " ";
            let key =$(this).attr('data-orderkey')
            let csrfmiddlewaretoken = $("input[name='csrfmiddlewaretoken']").val()
                fdata = {
                    'id':key,
                    'csrfmiddlewaretoken':csrfmiddlewaretoken
                },
                console.log('Data:',fdata);
                console.log("Sending Data...")
                $.ajax({
                    url: "{% url 'orderdelete' %}",
                    method: "POST",
                    data: fdata,
                    dataType: 'json',
                    success:function(response){
                            $('.messages').text("Food Deleted Sucessfully");
                            $('.messages').show()
                            x = response.order_queryset
                            console.log(x);
                            for(i=0; i < x.length; i++){
                               output +="<tr>"+
                                "<td>"+x[i].order.name+"</td>"+
                                "<td>"+x[i].ordererd_by.user+"</td>"+
                                "<td>"+x[i].ordered_on+"</td>"+
                                "<td><input type='button' class='btn btn-info btn-sm'  id = 'updateoBtn' value='Update' data-users=" + x[i].id + ">" +
                                "<td><input type='button' class='btn btn-danger btn-sm' id='deleteoBtn' value='Delete' data-users=" + x[i].id + ">" +
                                "</tr>"
                            }
                            $('tbody').html(output)
                            $('form')[0].reset();

                    },
                    error: function(error){
                            console.log(error)
                    }
                })
        })

    })
</script>