{% extends 'base.html' %}
{% block body %}
<div class="col-4 mt- 5 ">
    <form class="form-container" action="#" autocomplete="on">
        <h3 class="text-center">Update Order</h3><br>
        <div class="g-3">
            <label for="product" class="form-label">Product:</label>
            <input type="text" class="form-control" id="product" placeholder="Product Here...">
            <div class="invalid-feedback">
                Please enter a valid email address for shipping updates.
            </div>
        </div>

        <input type="submit" class="btn btn-primary mt-2 btn-sm" value="Create">

    </form>
    <div class="ms-3">
        <a href=""><button class="btn btn-primary">Go Back</button></a>
    </div>
</div>
{% endblock %}